.layout_header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa;

    > a {
        padding: 10px;
        font-size: 20px;
        border-right: 2px solid black;
    }

    > div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding-left: 30%;

        > a {
            transition: 0.3s;
            font-size: 17px;
            font-weight: 550;

            &:hover {
                color: var(--primary);
            }
        }

        @media screen and (max-width: 576px) {
            padding-left: 10px;
        }
    }
}

.layout_footer {
    position: relative;

    h4 {
        padding: 20px 0;
    }

    > div {
        div:nth-child(1) {
            > img {
                margin-top: -13px;
                margin-left: 50px;
            }

            > p {
                padding: 0 30px;
                font-size: 18px;
            }
        }
        div:nth-child(2) {
            > a {
                display: flex;
                align-items: center;
                gap: 5px;
                color: var(--primary);

                svg {
                    font-size: 18px;
                    color: var(--secondary);
                }
            }
        }
        div:nth-child(3) {
            > p {
                margin: 0;
                padding: 5px 0;
                display: flex;
                align-items: center;
                gap: 20px;

                svg {
                    font-size: 18px;
                    color: var(--secondary);
                }
            }
        }

        @media screen and (max-width: 992px) {
            text-align: center;
            
            div:nth-child(2) {
                justify-content: center;

                a {
                    justify-content: center;
                }
            }

            div:nth-child(3) {
                p {
                    justify-content: center;
                }
            }
        }
    }
}
