@import "./common";

.spacer-10 {
    height: 10px;
}
.spacer-20 {
    height: 20px;
}
.spacer-30 {
    height: 30px;
}
.spacer-40 {
    height: 40px;
}
.spacer-50 {
    height: 50px;
}

// Custom Toastify Style
.Toastify__toast-body {
    font-size: 18px;
    width: 100%;
    font-weight: bolder;
}
.Toastify__toast--success {
    border: 1px solid var(--toastify-color-success) !important;
    color: var(--toastify-color-success) !important;
    text-shadow: 0 0 20px var(--toastify-color-success);
    background: rgba(7, 188, 12, 0.15) !important;
}
.Toastify__toast--warning {
    border: 1px solid var(--toastify-color-warning) !important;
    color: var(--toastify-color-warning) !important;
    text-shadow: 0 0 20px var(--toastify-color-warning);
    background: rgba(241, 195, 15, 0.15) !important;
}
.Toastify__toast--error {
    border: 1px solid var(--toastify-color-error) !important;
    color: var(--toastify-color-error) !important;
    text-shadow: 0 0 20px var(--toastify-color-error);
    background: rgba(231, 76, 60, 0.15) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
