.home {
    .slide {
        img {
            height: 100vh;
            width: 100%;
            object-fit: cover;
            filter: brightness(50%);
        }

        .slide_content {
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -30%);
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            color: var(--font-white-color);
            width: 100%;

            button {
                outline: 0;
                border: 2px solid var(--font-white-color);
                background: transparent;
                padding: 15px 25px;
                font-size: 18px;
                border-radius: 50px;
                color: var(--font-white-color);
                cursor: pointer;
                transition: 0.4s all;

                &:hover {
                    color: var(--primary);
                    background: var(--font-white-color);
                }
            }
        }
    }

    .trading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        > p {
            width: 70%;
        }

        .trading_item {
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.219);
            padding: 20px;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;

            > img {
                width: 50%;
            }

            @media screen and (max-width: 1280px) {
                min-height: 400px;
            }

            @media screen and (max-width: 992px) {
                min-height: 450px;
            }

            @media screen and (max-width: 768px) {
                min-height: unset;
            }
        }
    }

    .about {
        background-color: rgb(184, 184, 184);

        > div {
            display: flex;
            flex-direction: column;
            justify-content: center;

            h2 {
                text-align: center;
                padding-top: 30px;
            }

            .about_item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                    padding: 15px 25px;
                    outline: 0;
                    border: 2px solid var(--secondary);
                    background-color: transparent;
                    transition: 0.4s all;
                    font-weight: 600;
                    cursor: pointer;

                    &:hover {
                        background-color: var(--primary);
                        border: 2px solid var(--secondary);
                        color: rgb(228, 194, 0);
                    }
                }
            }
        }
    }
}
